/* Custom Fonts */
/* 
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Regular'), url('ProximaNova-Regular.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Bold'), url('ProximaNova-Bold.woff') format('woff');
    } */
/* End Custom Fonts */
body{
    font-family: Montserrat;
    color: #333;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: auto;
    overflow: hidden;
    /* max-width: 1236px;*/
    padding-left: 20px;
    padding-right: 20px;
}
@media(min-width: 760px){
.wrapper{
        padding-left: 45px;
        padding-right: 45px
}
    }
@media(min-width: 1010px){
.wrapper{
        padding-left: 85px;
        padding-right: 85px
}
    }
.site-header{
    position: absolute;
    z-index: 2;
    width: 100%;
}
.site-header--is-expanded{
        background: rgba(44,61,99,0.7);
    }
@media(min-width: 760px){
.site-header{
        background: rgba(44,61,99,0.65);
        position: fixed
        /* Added with javascript */
}
        .site-header--dark{
            background: rgba(19, 23, 56,.9);
        }
    }
.site-header__logo{
        position: absolute;
        background: #2c3d63;
        display: inline-block;
        padding: 1.5rem 1.4375rem;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        transition: all .3s ease-out;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
    }
@media(min-width: 760px){
.site-header__logo{
            top: auto;
            left: auto;
            -webkit-transform: translateX(0);
                    transform: translateX(0)
    }
            .site-header--dark .site-header__logo {
                -webkit-transform: scale(.63);
                        transform: scale(.63);
            }
    }
@media(min-width: 1010px){
            .site-header--dark .site-header__logo {
                -webkit-transform: scale(.66);
                        transform: scale(.66);
            }
    }
.site-header__btn{
        color: #fff;
        background: #2c3d63;
        font-size: 0.5625rem;
        font-weight: bold;
        padding: 0.875rem 0.5625rem;
        display: inline-block;
        margin-bottom: 0.375rem;
    }
@media(min-width: 760px){
.site-header__btn{
            float: right;
            margin-bottom: 0;
            margin-top: 0.5rem;
            -webkit-transform: translateX(0);
                    transform: translateX(0)
    }
    }
@media(min-width: 1010px){
.site-header__btn{
            font-size: 0.8125rem;
            padding: 0.9375rem 0.6875rem
    }
    }
@media(min-width: 760px){
.site-header__nav{
            float: right
    }
    }
.site-header__nav ul::after{
        content: "";
        clear: both;
        display: table;
    }
.site-header__nav ul li{
                display: inline-block;
                list-style-type: none;
                padding-right: 0px;
                margin-bottom: 0.375rem;
            }
.site-header__nav ul li:last-child{
                    padding-right: 0;
                }
@media(min-width: 760px){
.site-header__nav ul li{
                    padding-right: 1.0625rem;
                    float: left;
                    margin-bottom: 0;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem
            }
                    .site-header__nav ul li:last-child{
                        padding-right: 1.0625rem;
                    }
    }
@media(min-width: 1010px){
.site-header__nav ul li{
                    padding-top: 1.4375rem;
                    padding-bottom: 1.4375rem
            }
    }
.site-header__nav ul li a{
                    color: #fff;
                    font-size: 0.4375rem;
                    display: block;
                    font-weight: bold;
                    background: rgba(44,61,99,0.5);
                    padding: 0.5625rem 0.3125rem;
                }
@media(min-width: 760px){
.site-header__nav ul li a{
                        background: none;
                        padding: 0;
                        font-size: 0.5625rem
                        /* hightling links with javascript */
                }
                        .site-header__nav ul li a.is-current-link{
                            color: #597ac6;
                        }
    }
@media(min-width: 1010px){
.site-header__nav ul li a{
                        font-size: 13px
                }
    }
.site-header__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;
      }
.site-header__menu-icon::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          -webkit-transform-origin: 0 0;
                  transform-origin: 0 0;
          transition: all .3s ease-out;
        }
.site-header__menu-icon__middle {
          position: absolute;
          top: 8px;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          transition: all .3s ease-out;
          -webkit-transform-origin: 0 50%;
                  transform-origin: 0 50%;
        }
.site-header__menu-icon::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          -webkit-transform-origin: 0 100%;
                  transform-origin: 0 100%;
          transition: all .3s ease-out;
        }
@media(min-width: 760px){
.site-header__menu-icon {
          display: none
      }
    }
.site-header__menu-icon--close-x::before {
          -webkit-transform: rotate(45deg) scaleX(1.25);
                  transform: rotate(45deg) scaleX(1.25);
        }
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
          opacity: 0;
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
        }
.site-header__menu-icon--close-x::after {
          -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
                  transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
.site-header__menu-content{
        text-align: center;
        padding-top: 6.25rem;
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        transition: all .3s ease-out;
    }
@media(min-width: 760px){
.site-header__menu-content{
            padding-top: 0;
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1)
    }
    }
.site-header__menu-content--is-visible{
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
.hero-section{
    position: relative;
    border-bottom: 15px solid #2c3d63;
}
.hero-section__text-content{
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align:center;
        width: 100%;
    }
@media(min-width: 760px){
.hero-section__text-content{
            padding-top: 0
    }
    }
.hero-section img{
        display: block;
    }
.hero-section__title{
        text-transform: uppercase;
        color: #fff;
        font-weight: 900;
        font-size: 1.25rem;
        margin-bottom: 0.6875rem;
    }
@media(min-width: 760px){
.hero-section__title{
            font-size: 1.5625rem;
            margin-bottom: 0.875rem
    }
    }
@media(min-width: 1010px){
.hero-section__title{
            font-size: 2.5rem;
            margin-bottom: 1rem
    }
    }
.hero-section__description{
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        margin: auto;
        margin-bottom: 0.6875rem;
        max-width: 250px;
    }
@media(min-width: 760px){
.hero-section__description{
            margin-bottom: 0.875rem;
            font-size: 0.8125rem
    }
    }
@media(min-width: 1010px){
.hero-section__description{
            max-width: 370px;
            font-size: 26px;
            margin-bottom: 1.0625rem
    }
    }
.hero-section__btn{
        color: #fff;
        background: #597ac6;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 180px;
        height: 36px;
        font-size: 1rem;
    }
@media(min-width: 1010px){
.hero-section__btn{
            width: 230px;
            height: 48px;
            font-size: 22px
    }
    }
.page-section{
    padding-top: 1.75rem;
}
@media(min-width: 760px){
.page-section{
        padding-top: 2.25rem
}
    }
@media(min-width: 1010px){
.page-section{
        padding-top: 2.6875rem
}
    }
.page-section__blue{
        background: #597ac6;
    }
.page-section__grey{
        background: #eeeeee;
    }
.generic-content__title{
        color: #333;
        text-align: center;
        font-size: 1.875rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        margin-bottom: 0.9375rem;
    }
@media(min-width: 760px){
.generic-content__title{
            font-size: 2.1875rem
    }
    }
@media(min-width: 1010px){
.generic-content__title{
            font-size: 2.5rem
    }
    }
.generic-content__title-contact{
            color: #fff;
            letter-spacing: 0;
        }
.generic-content__underline{
        width: 45px;
        height: 2px;
        background: #333;
        margin: auto;
    }
.generic-content__underline-contact{
            background: #fff;
        }
.generic-content__subtitle{
        margin-top: 1.1875rem;
        text-align: center;
        font-size: 0.875rem;
        color: #333;
        font-weight: 300;
    }
.generic-content__subtitle-contact{
            color: #fff;
        }
@media(min-width: 760px){
.generic-content__subtitle{
            font-size: 1.25rem
    }
    }
@media(min-width: 1010px){
.generic-content__subtitle{
            font-size: 26px
    }
    }
.generic-content__container-1{
        padding: 1.875rem 0;
    }
@media(min-width: 760px){
.generic-content__container-1{
            padding: 3.75rem 0
    }
    }
@media(min-width: 1010px){
.generic-content__container-1{
            padding: 4.375rem 0
    }
    }
.generic-content__container-1-no-bottom-padding{
            padding-bottom: 0;
        }
.generic-content__container-2{
        padding: 3.4375rem 0;
    }
.generic-content__container-2-no-top-p{
            padding-top: 0;
            padding-bottom: 3.4375rem;
        }
.generic-content__container-2-less-bottom-padding{
            padding-bottom: 3.0625rem;
        }
.generic-content__btn{
        width: 160px;
        height: 44px;
        text-align: center;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #2c3d63;
        color: #fff;
        border: none;
        border-radius: 14px;
        font-size: 16px;
        margin-top: 55px;
        cursor: pointer;
    }
.generic-content__btn-grey{
            background: #a09f9f;
        }
.generic-content__btn-blue{
            background: #0714cc;
            margin-top: 0;
            box-shadow: 0px 4px 2px #333;
        }
.services__icon-container{
        width: 140px;
        height: 140px;
        border-radius: 20px;
        background: #cacfd7;
        position: relative;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
@media(min-width: 760px){
.services__icon-container{
            margin-bottom: 1.6875rem
    }
    }
.services__icon-container img{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
        }
.services__icon-container-img{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
        }
.services__title{
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 0.5625rem;
        text-align: center;
        font-weight: 700;
    }
@media(min-width: 760px){
.services__title{
            margin-bottom: 1rem
    }
    }
@media(min-width: 1010px){
.services__title{
            font-size: 22px
    }
    }
.services__description{
        font-size: 13px;
        margin-bottom: 0.5625rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 1.6;
        max-width: 330px;
    }
@media(min-width: 760px){
.services__description{
            margin-bottom: 1rem;
            max-width: 230px;
            font-size: 13px
    }
    }
.services__btn-container{
        text-align: center;
    }
.services__btn{
        width: 120px;
        height: 30px;
        background: #2c3d63;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 8px;
        border:none;
        margin-bottom: 3.125rem;
        cursor: pointer;
    }
.services__btn-no-bottom-m{
            margin-bottom: 0;
        }
@media(min-width: 760px){
.services__btn{
            margin-bottom: 0
    }
    }
.row{
    margin-right: -1.25rem;
}
.row::after{
        content: "";
        clear: both;
        display: table;
    }
@media(min-width: 760px){
.row{
        margin-right: -1.5625rem
}
    }
.row .col{
        float: left;
        width: 100%;
        padding-right: 1.25rem;
    }
@media(min-width: 760px){
.row .col{
            padding-right: 1.5625rem
    }
    }
.row .col-sm-1 {
            width: 8.33%;
        }
.row .col-sm-2 {
            width: 16.66%;
        }
.row .col-sm-3 {
            width: 25%;
        }
.row .col-sm-4 {
            width: 33.33%;
        }
.row .col-sm-5 {
            width: 41.66%;
        }
.row .col-sm-6 {
            width: 50%;
        }
.row .col-sm-7 {
            width: 58.33%;
        }
.row .col-sm-8 {
            width: 66.66%;
        }
.row .col-sm-9 {
            width: 75%;
        }
.row .col-sm-10 {
            width: 83.33%;
        }
.row .col-sm-11 {
            width: 91.66%;
        }
.row .col-sm-12 {
            width: 100%;
        }
@media(min-width: 760px){
        .row .col-md-1 {
            width: 8.33%;
            display: block;
            
        }
        .row .col-md-2 {
            width: 16.66%;
            display: block;
            
        }
        .row .col-md-3 {
            width: 25%;
            display: block;
            
        }
        .row .col-md-4 {
            width: 33.33%;
            display: block;
            
        }
        .row .col-md-5 {
            width: 41.66%;
            display: block;
            
        }
        .row .col-md-6 {
            width: 50%;
            display: block;
            
        }
        .row .col-md-7 {
            width: 58.33%;
            display: block;
            
        }
        .row .col-md-8 {
            width: 66.66%;
            display: block;
            
        }
        .row .col-md-9 {
            width: 75%;
            display: block;
            
        }
        .row .col-md-10 {
            width: 83.33%;
            display: block;
            
        }
        .row .col-md-11 {
            width: 91.66%;
            display: block;
            
        }
        .row .col-md-12 {
            width: 100%;
            display: block;
            
        }
    }
.row__second-group{
        margin-top: 29px;
    }
.our-works__btn-categories{
        display: inline-block;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        }
.our-works__btn-categories ul{
            display: inline-block;
            margin: auto;
        }
.our-works__btn-categories ul::after{
        content: "";
        clear: both;
        display: table;
    }
.our-works__btn-categories ul li{
                list-style: none;
                float: left;
                padding-right: 1.25rem;
            }
.our-works__btn-categories ul li:last-child{
                    padding-right: 0;
                }
.our-works__btn-categories ul li h3{
                    font-size: 0.875rem;
                    color: #597ac6;
                    padding-bottom: 6px;
                    cursor: pointer;
                }
@media(min-width: 760px){
.our-works__btn-categories ul li h3{
                        font-size: 1.25rem
                }
    }
/* Added with javascript  */
.our-works__btn-categories-active{
            border-bottom: 2px solid #2c3d63;
        }
.our-works__images{
        margin-right: -20px;
    }
.our-works__images::after{
        content: "";
        clear: both;
        display: table;
    }
.our-works__images li{
            list-style: none;
            float: left;
            width: 50%;
            padding-right: 20px;
            position: relative;
            overflow: hidden;
        }
@media(min-width: 760px){
.our-works__images li{
                width: 25%
        }
    }
.our-works__images li:nth-child(1){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(1){
                    margin-bottom: 2.1875rem
            }
    }
.our-works__images li:nth-child(2){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(2){
                    margin-bottom: 2.1875rem
            }
    }
.our-works__images li:nth-child(3){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(3){
                    margin-bottom: 2.1875rem
            }
    }
.our-works__images li:nth-child(4){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(4){
                    margin-bottom: 2.1875rem
            }
    }
.our-works__images li:nth-child(5){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(5){
                    margin-bottom: 0
            }
    }
.our-works__images li:nth-child(6){
                margin-bottom: 1.25rem;
            }
@media(min-width: 760px){
.our-works__images li:nth-child(6){
                    margin-bottom: 0
            }
    }
.our-works__images li:nth-child(7){
                margin-bottom: 0;
            }
.our-works__images li:nth-child(8){
                margin-bottom: 0;
            }
.our-works__images li img{
                width: 100%;
                display: block;
            }
.our-works__images-overlay{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 90%;
            height: 100%;
            background: #333;
            opacity: 0.8;
            display: block;
            pointer-events: none;
            visibility: visible;
            transition: all 1s ease-in;
        }
@media (max-width: 320px){
.our-works__images-overlay{
                width: 87%
        }
            }
@media(min-width: 1010px){
.our-works__images-overlay{
                width: 92%
        }
    }
.our-works__images-overlay--zoom{
                width: 40px;
                height: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
            }
.our-works__images-overlay--title{
                position: absolute;
                width: 100%;
                bottom: 0;
                text-align: center;
                text-transform: uppercase;
                padding: 10px 0;
                color: #fff;
                font-size: 0.8125rem;
            }
.testimonials{
    position: relative;
    overflow: hidden;
    
}
.testimonials__description{
        position: relative;
        margin: 0 auto 24px auto;
        max-width: 252px;
    }
@media (max-width: 320px){
.testimonials__description{
            max-width: 220px
    }
        }
@media(min-width: 760px){
.testimonials__description{
            max-width: 428px
    }
    }
@media(min-width: 1010px){
.testimonials__description{
            max-width: 550px
    }
    }
.testimonials__description p{
            font-weight: 500;
            font-size: 0.6875rem;
            text-align: center;
            line-height: 1.4;
        }
@media(min-width: 760px){
.testimonials__description p{
                font-size: 0.875rem
        }
    }
@media(min-width: 1010px){
.testimonials__description p{
                font-size: 16px
        }
    }
.testimonials__arrows{
        border: solid #a09f9f;
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 6px;
        cursor: pointer;
    }
.testimonials__arrows-left-arrow{
            -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
            position: absolute;
            top: 22%;
            top: 33%;
            left: -12%;
        }
@media(min-width: 1010px){
.testimonials__arrows-left-arrow{
                top: 37%;
                left: -24%
        }
    }
.testimonials__arrows-right-arrow{
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            position: absolute;
            top: 33%;
            right: -12%;
        }
@media(min-width: 1010px){
.testimonials__arrows-right-arrow{
                top: 37%;
                right: -24%
        }
    }
.testimonials__testimonial{
        float: right;
    }
@media(min-width: 760px){
.clients__first-group{
            margin-bottom: 55px
    }
    }
.clients__icons::after{
        content: "";
        clear: both;
        display: table;
    }
/* &-img-2{
            margin: auto;
        }
        &-img-3{
            margin-left: auto;
        }
        &-img-4{
            margin-left: auto;
        } */
.clients__icons li{
        list-style: none;
        float: left;
        width: 25%;
        position: relative;
        padding-right: 22px;
    }
.clients__icons li:nth-child(2) img{
                margin: auto;
            }
.clients__icons li:nth-child(3) img{
                margin-left: auto;
            }
.clients__icons li:last-child{
           padding-right: 0;
        }
.clients__icons li:last-child img{
               margin-left: auto;
           }
.clients__icons li img{
            display: block;
        }
.team{
    width: 140px;
    margin: 0 auto 50px auto;
}
@media(min-width: 760px){
.team{
        margin-bottom: 0;
        width: auto
}
    }
.team__no-bottom-m{
        margin-bottom: 0;
    }
.team__img{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
    }
@media(min-width: 760px){
.team__img{
            width: 100%;
            margin-bottom: 17px
    }
    }
.team__img img{
                border-radius: 140px;
            }
@media(min-width: 760px){
.team__img img{
                    width: 100%
            }
    }
.team__name{
        font-size: 0.6875rem;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 6px;
    }
@media(min-width: 760px){
.team__name{
            margin-bottom: 10px
    }
    }
@media(min-width: 1010px){
.team__name{
            font-size: 1rem
    }
    }
.team__social-icons{
        text-align: center;
    }
.team__social-icons::after{
        content: "";
        clear: both;
        display: table;
    }
.team__social-icons-icon{
            list-style: none;
            width: 25%;
            float: left;
            position: relative;

            /* img{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @mixin atMedium{
                    width: 10px;
                    height: 10px;
                }
                @mixin atLarge{
                    width: 16px;
                    height: 16px;
                }
            } */
        }
.team__social-icons-icon-container{
                background: #fff;
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 16px;
                margin: auto;
            }
@media(min-width: 760px){
.team__social-icons-icon-container{
                    width: 22px;
                    height: 22px
            }
    }
@media(min-width: 1010px){
.team__social-icons-icon-container{
                    width: 35px;
                    height: 35px;
                    border-radius: 25px
            }
    }
.team__social-icons-icon-container-img{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                            transform: translate(-50%,-50%);
                }
@media(min-width: 760px){
.team__social-icons-icon-container-img{
                    width: 10px;
                    height: 10px
                }
    }
@media(min-width: 1010px){
.team__social-icons-icon-container-img{
                    width: 16px;
                    height: 16px
                }
    }
.btn-work{
    padding: 1.5rem;
    background: #2c3d63;
}
.contact{
    /* background: #333; */
    color: #fff;
}
.contact__social-icons{
        margin: auto;
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
.contact__social-icons::after{
        content: "";
        clear: both;
        display: table;
    }
.contact__social-icons a{
            display: inline-block;
            padding-right: 17px;
        }
.contact__social-icons a:last-child{
                padding-right: 0;
            }
.contact__form{
        text-align: center;
    }
.contact__form-input{
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            color: #cacfd7;
            padding: 0.625rem;
            border: none;
            background: transparent;
            border-bottom: 1px solid #cacfd7;
            width: 200px;
            margin-bottom: 28px;
        }
.contact__form-input:focus{
                outline: none;
            }
@media(min-width: 760px){
.contact__form-input{
                width: 230px;
                display: inline-block;
                margin-right: 20px;
                margin-left: 0
        }
    }
@media(min-width: 760px){
.contact__form-email{
                margin: 0
        }
    }
.contact__form-name{
            
        }
.contact__form-message{
            display: block;
            margin: auto;
            resize: none;
            font-size: 16px;
            color: #cacfd7;
            padding: 0.625rem;
            background: #333;
            border: none;
            border-bottom: 1px solid #cacfd7;
            width: 200px;
            outline: none;
            overflow: auto;
        }
@media(min-width: 760px){
.contact__form-message{
                width: 485px
        }
    }
.contact__form-btn{
            font-size: 0.8125rem;
            color: #fff;
            text-transform: uppercase;
            background: #333;
            padding: 0.625rem 2.0625rem;
            border: 1px solid white;
            margin: 25px 0;
            cursor: pointer;
        }
@media(min-width: 760px){
.contact__form-btn{
                font-size: 1rem;
                padding: 1.25rem 2.6875rem;
                border: 3px solid white
        }
    }
.site-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 1.6875rem 0;
    border-top: 1px solid white;
    font-size: 13px;
    font-weight: bold;
}
.icon{
            background-image: url('../../assets/images/sprites/svg/sprite.css-825bec79.svg');
        }
.no-svg .icon{
            background-image: url('../../assets/images/sprites/svg/sprite.css-825bec79.png');
        }
.icon--Apple{
        width: 49px;
        height: 65px;
        background-position: 23.529411764705884% 98.828125%;
    }
.icon--Asus{
        width: 98px;
        height: 24px;
        background-position: 99.23664122137404% 95.62289562289563%;
    }
.icon--Cisco{
        width: 118px;
        height: 70px;
        background-position: 67.828418230563% 72.22310756972112%;
    }
.icon--Google{
        width: 132px;
        height: 51px;
        background-position: 70.47353760445682% 20.74074074074074%;
    }
.icon--Intel{
        width: 104px;
        height: 68px;
        background-position: 0 100%;
    }
.icon--InternetMarketing{
        width: 101px;
        height: 99px;
        background-position: 100% 0;
    }
.icon--Logo{
        width: 128.81px;
        height: 45.28px;
        background-position: 69.85283966978658% 49.32540258232989%;
    }
.icon--Microsoft{
        width: 133px;
        height: 33px;
        background-position: 70.67039106145252% 7.986111111111111%;
    }
.icon--Qualcom{
        width: 137px;
        height: 23px;
        background-position: 71.46892655367232% 0;
    }
.icon--WebDesign{
        width: 100px;
        height: 98px;
        background-position: 99.74424552429667% 44.39461883408072%;
    }
.icon--WebDevelopment{
        width: 99px;
        height: 87px;
        background-position: 99.48979591836735% 84.1880341880342%;
    }
.icon--Yahoo{
        width: 129px;
        height: 29px;
        background-position: 69.88950276243094% 36.64383561643836%;
    }
.icon--behance-white{
        width: 22px;
        height: 13px;
        background-position: 83.15565031982942% 100%;
    }
.icon--facebook{
        width: 10px;
        height: 17px;
        background-position: 37.42203742203742% 83.22368421052632%;
    }
.icon--facebook-white{
        width: 10px;
        height: 17px;
        background-position: 35.343035343035346% 83.22368421052632%;
    }
.icon--linkedin{
        width: 13px;
        height: 16px;
        background-position: 39.7489539748954% 82.95081967213115%;
    }
.icon--linkedin-white{
        width: 13px;
        height: 16px;
        background-position: 42.46861924686193% 82.95081967213115%;
    }
.icon--rss{
        width: 19px;
        height: 19px;
        background-position: 78.60169491525424% 60.026490066225165%;
    }
.icon--rss-white{
        width: 19px;
        height: 19px;
        background-position: 78.60169491525424% 66.31788079470199%;
    }
.icon--twitter{
        width: 17px;
        height: 18px;
        background-position: 78.27004219409282% 72.36963696369637%;
    }
.icon--twitter-white{
        width: 17px;
        height: 18px;
        background-position: 32.278481012658226% 83.4983498349835%;
    }
.icon--zoom{
        width: 253px;
        height: 253px;
        background-position: 0 0;
    }
/*  From javascript reveal on scroll  */
.reveal-item{
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    transition: all 1.3s ease-in-out;
}
.reveal-item--is-visible{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
.reveal-item--clients{
        position: relative;
        left: -999px;
        transition: all .6s ease-in;
    }
.reveal-item--clients--is-visible{
            left: 0;
        }
.modal{
    position: fixed;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    transition: all .3s ease-out;
}
.modal--is-visible{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
.modal__inner{
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
    }
.modal__close{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 2.2rem;
        cursor: pointer;
    }
.modal__close:hover{
            color: #597ac6;
        }
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../assets/images/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../assets/images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../assets/images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../assets/images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}