.our-works{
    &__btn-categories{
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        ul{
            @mixin clearfix;
            display: inline-block;
            margin: auto;
            li{
                list-style: none;
                float: left;
                padding-right: rem(20px);
                &:last-child{
                    padding-right: 0;
                }
                h3{
                    font-size: rem(14px);
                    color: $secondaryBlue;
                    padding-bottom: 6px;
                    cursor: pointer;
                    @mixin atMedium{
                        font-size: rem(20px);
                    }
                }
            }
        }
        /* Added with javascript  */
        &-active{
            border-bottom: 2px solid $mainBlue;
        }
        }
        
        
    &__images{
        @mixin clearfix;
        margin-right: -20px;
        li{
            list-style: none;
            float: left;
            width: 50%;
            padding-right: 20px;
            position: relative;
            overflow: hidden;
            @mixin atMedium{
                width: 25%;;
            }
            &:nth-child(1){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(35px);
                }
            }
            &:nth-child(2){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(35px);
                }
            }
            &:nth-child(3){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(35px);
                }
            }
            &:nth-child(4){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(35px);
                }
            }
            &:nth-child(5){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(0);
                }
            }
            &:nth-child(6){
                margin-bottom: rem(20px);
                @mixin atMedium{
                    margin-bottom: rem(0);
                }
            }
            &:nth-child(7){
                margin-bottom: rem(0);
            }
            &:nth-child(8){
                margin-bottom: rem(0);
            }
            img{
                width: 100%;
                display: block;
            }
        }
        &-overlay{
            @media (max-width: 320px){
                width: 87%;
            }
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 90%;
            height: 100%;
            background: #333;
            opacity: 0.8;
            display: block;
            pointer-events: none;
            visibility: visible;
            transition: all 1s ease-in;
            @mixin atLarge{
                width: 92%;
            }
            &--zoom{
                width: 40px;
                height: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &--title{
                position: absolute;
                width: 100%;
                bottom: 0;
                text-align: center;
                text-transform: uppercase;
                padding: 10px 0;
                color: #fff;
                font-size: rem(13px);
            }
        }
    }
}