.wrapper{
    margin: auto;
    overflow: hidden;
    /* max-width: 1236px;*/
    padding-left: 20px;
    padding-right: 20px;
    @mixin atMedium{
        padding-left: 45px;
        padding-right: 45px;
    }
    @mixin atLarge{
        padding-left: 85px;
        padding-right: 85px;
    }
}